$form-element-padding: 1rem;
$form-element-font-size: 1.4rem;
$form-invalid-color: mix(red, $base-color, 60%);
$form-success-color: $contrast-color;
$form-alert-font-size: 1.65rem;

@mixin focus($color: $base-color, $contrast: $blue-light) {
  &:focus {
    box-shadow: 0 0 8px rgba($color, 0.5);
    border-color: rgba($color, 0.75);
    background-color: mix(white, $contrast, 15%);
  }
}

@mixin form() {
  #contact-form-container {
    @include flex-center();
    width: 100%;
    .hide {
      display: none;
    }
  }
  input, textarea, button {
    font-size: $form-element-font-size;
  }
  input, textarea {
    width: 100%;
    border: 1px solid transparent;
    background-color: mix(white, $blue-light, 5%);
    color: white;
    margin: 0.5rem auto;
    padding: $form-element-padding;
    box-sizing: border-box;
    outline: none;
    transition: box-shadow 125ms ease-in-out, border 125ms ease-in-out, background 125ms ease-in-out;
    position: relative;
    &.invalid {
      border-color: $form-invalid-color;
      @include focus($form-invalid-color);
    }
    @include focus();
  }
  textarea {
    resize: none;
  }
  label {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }
  button {
    display: block;
    width: 80%;
    padding: $form-element-padding;
    border: 3px solid transparent;
    background-color: $base-color;
    outline: none;
    color: $blue-dark;
    font-size: round($form-element-font-size * 1.2);
    margin: 0.5rem auto;
    transition: all 250ms ease-in-out;
    text-transform: uppercase;
    cursor: pointer;
    &:focus, &:hover {
      width: 85%;
      background-color: transparent;
      border-color: $base-color;
      color: $base-color;
    }
  }
  .alert {
    .icon {
      display: block;
      font-size: round($form-alert-font-size * 2);
      margin-bottom: 1rem;
    }
    &.success {
      width: 100%;
      text-align: center;    
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      .message {
        font-size: $form-alert-font-size;
        color: $form-success-color;
        margin: 0;
        white-space: normal;
      }
  }
  }
  form {
    position: relative;
    transition: opacity 250ms ease-in-out;
    @media only screen and (min-width: #{$lg-breakpoint}) {
      max-width: 50%;
      margin: 0 auto;
    }
    &.pending {
      label, input, textarea {
        opacity: 0.35;
      }
    }
  }
}
