@import "util";

@mixin progressiveImage($image) {
  .image-#{$image} {
    background-image: url('~static/images/#{$image}-launch.jpeg');
  }

  @if str-index($image, '-full') {
    .webp .image-#{$image}.loaded {
      background-image: url('~static/images/#{$image}.webp');
    }
    .no-webp .image-#{$image}.loaded {
      background-image: url('~static/images/#{$image}.jpeg');
    }
  } @else {
    .webp .image-#{$image} {
      background-image: url('~static/images/#{$image}.webp');
    }
    .no-webp .image-#{$image} {
      background-image: url('~static/images/#{$image}.jpeg');
    }
  }
}

@mixin images($images: (
  'ideas',
  'coding',
  'build-tooling',
  'build-tooling-full',
  'connected-driver-full',
  'speaking-full'
)) {
  .item .image {
    @include absolute();
    background-size: cover;
    background-color: $blue-dark;
    background-blend-mode: luminosity; //overlay
    // filter: blur(3px);
    transition: filter 250ms ease-in-out, transform 250ms ease-in-out;
    &:hover, &:active {
      background-color: transparent !important;
      filter: none;
      transform: scale(1.125);
      z-index: 2;
    }
    &.image-coding {
      background-color: mix(green, $blue-light, 60%);
    }
    &.image-ideas {
      background-color: mix(blue, $blue-light, 20%);
    }
    &.image-build-tooling {
      background-color: mix(orange, $blue-light, 75%);
    }
  }

  .image.lazy {
    background-color: black;
    background-blend-mode: screen;
  }

  @each $image in $images {
    @include progressiveImage($image);
  }
}
