@import "util";

@mixin sections($loop-count: 5, $subtitle-effect: false) {
  section {
    @include flex-center(true);
    min-height: 100vh;
    background-color: mix(black, white, 5%);
    box-sizing: border-box;
    padding: 1rem;
    color: white;
    position: relative;
    $difference: (100 / $loop-count) / 100;
    $start-color: mix(white, $blue-light, 35%);
    $end-color: $blue-dark;
    @for $i from 1 through $loop-count {
      $bg-color: mix($end-color, $start-color, percentage($difference * $i));
      &:nth-child(#{$i}) {
        background: linear-gradient(to top, mix($end-color, $bg-color, 15%), $bg-color 5%);
        color: getColorFromBackgroundColor($bg-color);
      }
    }
  }
  .heading {
    flex: 1;
    padding: 1rem 0;
  }
  .heading, .content {
    @include flex-center(true);
    width: 100%;
  }
  .content {
    flex: 2;
    width: 100%;
  }
  .description {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.25rem 0.75rem;
    color: white;
    text-shadow: 0 0 1px rgba(black, 1) !important;
    @media only screen and (min-width: #{$lg-breakpoint}) {
      font-weight: 100;
    }
  }
  .title, .subtitle {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .title {
    font-size: 2rem;
    padding: 0.5rem 0;
    margin: 0.5rem auto;
    border-top: 4px solid $base-color;
    border-bottom: 4px solid $base-color;
    text-shadow: 0 0 1px rgba(black, 0.85) !important;
  }
  .subtitle {
    background-color: if($subtitle-effect, transparent, $base-color);
    color: white;
    font-size: 1.1rem;
    font-weight: 100;
    padding: 0.25rem 1rem;
    box-sizing: border-box;
    @if $subtitle-effect {
      display: table;
      white-space: nowrap;
      &:before, &:after {
        border-top: 1px solid rgba(white, 0.5);
        content: '';
        display: table-cell;
        position: relative;
        top: 0.65rem;
        width: 45%;
      }
      &:before { right: 1%; }
      &:after { left: 1%; }
    }
  }
  &.has-scroll {
    padding-bottom: 5rem;
  }
  .group {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media only screen and (min-width: #{$lg-breakpoint}) {
      flex-direction: row;
    }
    .group-item {
      width: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
    }
    .item {
      @include flex-center(true);
      padding: 5rem 1rem;
      text-align: center;
      position: relative;
      box-sizing: border-box;
    }
    .overlay {
      position: relative;
      pointer-events: none;
      width: 100%;
      z-index: 3;
    }
    .item-title, .icon {
      text-shadow: 0 0 1px rgba(black, 0.85) !important;
    }
    .item-title {
      margin: 0.5rem 0;
    }
    .icon {
      font-size: 2rem;
      color: white;
    }
  }
}
