$base-color: #FF6138;
$base-darken-color: mix(mix(black, red, 45%), saturate($base-color, 100%), 25%);

$blue-light: #013440;
$blue-dark: #002635;

$contrast-color: #00A388;

$lg-breakpoint: 768px;
$xlg-breakpoint: 1024px;
