@import "style/variables";
@import "style/typography";

@import "style/alert";
@import "style/header";
@import "style/social";
@import "style/scroll";
@import "style/typing";

html, body {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  ::selection {
    background: $base-color;
  }
}

@include alert();
@include header();
@include scroll();
@include social();
@include typing();
