@import "scss/variables";
@import "scss/animations";
@import "scss/functions";
@import "scss/typography";
@import "scss/header";
@import "scss/images";
@import "scss/footer";
@import "scss/form";
@import "scss/social";
@import "scss/arrows";
@import "scss/learn-more";
@import "scss/sections";
@import "scss/typing";

html, body {
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: $base-font-family;
  font-weight: 400;
  ::selection {
    background: $base-color;
  }
}

#fold {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $blue-dark;
}

@include header();
@include footer();
@include images();
@include form();
@include social();
@include arrows();
@include learnMore();
@include sections(4);
@include typing();
