@import "scss/variables";
@import "scss/animations";
@import "scss/functions";
@import "scss/typography";
@import "scss/header";
@import "scss/images";
@import "scss/footer";
@import "scss/form";
@import "scss/social";
@import "scss/arrows";
@import "scss/learn-more";
@import "scss/sections";
@import "scss/typing";
@import "scss/work";

html, body {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: $base-font-family;
  font-weight: 400;
  ::selection {
    background: $base-color;
  }
}

@include header();
@include footer();
@include images();
@include form();
@include social();
@include arrows();
@include learnMore();
@include sections(4);
@include typing();
@include work();
