$message-font-size: 1.3rem;
$transition-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);

@mixin footer() {
  footer {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $contrast-color;
    padding: 0.25rem 0.5rem;
    position: relative;
    ::selection {
      background: $blue-dark;
      color: white;
    }
    .social {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .icons {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: inline-block;
      li {
        display: inline-block;
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }
      .icon {
        display: inline-block;
        font-size: $message-font-size * 1.4;
        opacity: 0.65;
        transition: all 250ms $transition-function;
        &:hover {
          opacity: 1;
          transform: scale(1.125);
          color: mix(black, $blue-dark, 25%);
        }
      }
      a {
        color: inherit;
      }
    }
  }
  .icons, .message {
    width: 100%;
  }
  .message, .copyright {
    margin: 0;
    padding: 0;
  }
  .message {
    font-weight: normal;
    color: $blue-dark;
    font-weight: bold;
    font-size: $message-font-size;
    display: inline-block;
    white-space: nowrap;
    a {
      color: $blue-dark;
      text-decoration: none;
    }
    .icon {
      display: inline-block;
      animation: pulse 2s $transition-function infinite;
      padding: 0.25rem 0.5rem;
    }
    @media only screen and (min-width: $lg-breakpoint) {
      margin: 1rem auto;
    }
  }
  .copyright {
    position: absolute;
    width: 100%;
    bottom: 0.5rem;
    left: 0;
    text-align: center;
    font-size: 0.8rem;
    color: $blue-light;
  }
}
