@mixin header() {
  header {
    background: radial-gradient(mix(yellow, $base-color, 20%), $base-darken-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80vh;
    z-index: 3;
    transform: skewY(-8deg);
    transform-origin: 0;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 1rem 2rem;
    canvas {
      height: 90vh;
      transform: skewY(0);
      transform-origin: 0;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      user-select: none;
    }
  }

  .hero {
    margin-top: 2rem;
  }

  .name, .description {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .name {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: font-size 250ms ease-in-out, padding 150ms ease-in;
    background-color: white;
    color: mix($base-color, $base-darken-color, 25%);
    padding: 0.5rem 1rem;
    @media only screen and (min-width: $lg-breakpoint) {
      font-size: 6rem;
      padding: 1rem 2rem;
    }
  }

  .description {
    font-weight: 400;
    color: white;
  }
}
