@mixin sections($loop-count: 4) {
  section {
    min-height: 100vh;
    background-color: mix(black, white, 5%);
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    $difference: (100 / $loop-count) / 100;
    $start-color: mix(white, $blue-light, 35%);
    $end-color: $blue-dark;
    @for $i from 1 through $loop-count {
      $bg-color: mix($end-color, $start-color, percentage($difference * $i));
      &:nth-child(#{$i}) {
        background: linear-gradient(to top, mix($end-color, $bg-color, 15%), $bg-color 5%);
        color: getColorFromBackgroundColor($bg-color);
      }
    }
  }
  .heading {
    flex: 1;
    padding: 1rem 0;
  }
  .heading, .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .content {
    flex: 2;
    width: 100%;
  }
  p.description {
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.25rem 0.5rem;
  }
  .title, .subtitle {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .title {
    font-size: 2rem;
    padding: 0.5rem 0;
    margin: 0.5rem auto;
    border-top: 2px solid $base-color;
    border-bottom: 2px solid $base-color;
  }
  .subtitle {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 100;
    opacity: 0.7;
  }
  .group {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media only screen and (min-width: #{$lg-breakpoint}) {
      flex-direction: row;
    }
    .group-item {
      width: 100%;
      padding: 0.5rem 1rem;
      box-sizing: border-box;
    }
    .item {
      padding: 5rem 1rem;
      text-align: center;
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .overlay {
      position: relative;
      pointer-events: none;
      width: 100%;
    }
    .item-title {
      font-size: 1.6rem;
      margin: 0.5rem 0;
    }
    .icon {
      font-size: 2rem;
      color: white;
    }
  }
}
